<h3>Livros</h3>

<form #formPesquisa="ngForm">
    <div class="row">
        <div class="col-md 8">
        <div class="form-group">
            <label for="exampleInputEmail1">Pesquise pelo Titulo ou Autor</label>
            <input type="text" class="form-control" id="pesquisa" name="pesquisa" [(ngModel)]="pesquisa" aria-describedby="pesquisa"
                placeholder="Digite sua pesquisa" >
        </div>
        </div>
        <div class="col-md 4" style="padding-top:32px;">
            <button type="submit" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </div>
    </div>    
</form>
<div class="row">
    <div class="col-md-4" *ngFor="let l of livros">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="l.foto || 'assets/img/livros.jpeg'" alt="Card image cap" width="25px" height="250px">
            <div class="card-body">
              <h5 class="card-title">{{l.titulo}}</h5>
              <p class="card-text">{{l.autor}}</p>
              <a href="#" class="btn btn-warning btn-block">{{l.ano}}</a>
              <a href="#" (click)="editar(l.id)" class="btn btn-primary btn-block">Editar</a>
            </div>
          </div>
    </div>
</div>

<!--
<ng2-smart-table [settings]='settings'  [source]="dataSource">
</ng2-smart-table>-->

