<div class="container">
    <h3>Cadastro de Usuario</h3>
    <form [formGroup]="userForm" novalidate >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="titulo" formControlName="nome" placeholder="nome">
                <div class="erro" role="alert" *ngIf="!userForm.controls['nome'].valid && userForm.controls['nome'].touched" margin-left>Nome não pode ser nullo!!</div>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" formControlName="email"  placeholder="email">
                <p  class="erro" *ngIf="!userForm.controls['email'].valid && userForm.controls['nome'].touched" margin-left>Email não pode ser nullo!!</p>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" formControlName="senha" placeholder="Informe sua senha">
                </div>
            </div> 

        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="perfil" formControlName="perfil" value="ROLE_ADMIN" checked>
                    <label class="form-check-label" for="perfil">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="perfil" formControlName="perfil" value="ROLE_USUARIO">
                    <label class="form-check-label" for="perfil">
                        Usuario
                    </label>
                </div>
            </div>          
        </div>
        <h5>Contato</h5>
        <div formArrayName="telefones">
            <div [formGroupName]="i" class="container" *ngFor="let telefone of telefones.controls; let i=index"> 
                <div [formGroup]="telefone" class="row">                             
                    <div class="form-group col-md-5">
                        <div class="form-group">
                            <label for="numero">Telefone</label>
                            <input type="text" class="form-control" name="numero" formControlName="numero" placeholder="Informe o numero">
                        </div>
                    </div> 
                    <div class="form-group col-md-5">
                        <label class="control-label" for="tipo"><em>*</em> Tipo:</label>
                        <select name="tipo" class="form-control" formControlName="tipo"> 
                            <option value="">Selecione...</option>
                            <option value="COMERCIAL">Comercial</option>
                            <option value="CELULAR">Celular</option>
                        </select>        
                    </div>
                    <div class="form-group col-md-1" *ngIf="telefones.controls.length==i+1 && telefone.valid">
                        <button type="button" class="btn btn-primary bt"  (click)="addTelefone()" ><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="form-group col-md-1" *ngIf="telefones.controls.length>1">
                        <button type="button" class="btn btn-danger bt"  (click)="removeTelefone(i)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>       
        </div>    
    
        <br><br>        
        <button type="submit" class="btn btn-primary" (click)="cadastrar()" [disabled]="!userForm.valid">SALVAR</button>
    </form>
</div>


